.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}


.row, .col{
    min-height: 100px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}