.container{
    display: flex;
    flex-direction: column;
}

.row{
    flex-basis:100px;
    display: flex;
    background-color: red;
    margin-bottom: 5px;
}

.col{
    flex-basis:200px;
    background-color: #ccc;
    margin: 10px;
}