.searchInput{
    border-radius: 8px;
    border: 1px solid #dcdfe6;
    outline: none;
    padding: 0 15px;
    height: 40px;
}

.searchInput:focus{
    border: 1px solid #409eff;
}

.searchBtn{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    // width: 60px;
    padding: 0 20px;
    outline: none;
}

.searchBtn:focus{
    outline: none;
}