.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
    .edit-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .close-button {
        float: right;
    }
    .asset-chart {
        flex: 1;
    }
    .asset-table {
        height: 500px;
        margin-top: 10px;
    }
}
