#container {
    display: flex;
    flex-direction: column;
}

.row {
    background-color: red;
    margin-bottom: 5px;
    /* flex-basis: 200px; */
    height: 200px;
    flex: 1;
    display: flex;
}


.col {
    background-color: #ccc;
    margin: 10px;
}

.col:nth-child(odd) {
    flex: 1;
}

.col:nth-child(even) {
    /* flex-basis: 1000px; */
    width: 1000px;
}

#test {
    /* width: 1000px; */
    height: 100px;
    background-color: green;
}