.container{
    display: flex;
    flex-direction: column;
}


.row{
    flex: 1;
    display: flex;
    /* margin-bottom: 5px; */
    background-color: #132e35;
}

.row .col:first-child{
    flex: 1;
    background-color: #ccc;
    margin: 10px;
}

.row .col:last-child{
    width:500px;
}